body {
  width:500px;
  height:300px;
}

.header {
	padding: 20px 0px 10px 0px;
	background-color:#e67e22;
	color:white;
}

.searchBar {
	margin-top:35px;
}

.searchBar h1 {
	margin-top:10px;
	font-size:20px;
	margin-bottom:25px;
}

.searchBar h3 {
	font-size:14px;
	font-weight:300;
}

.results {
	margin-top:20px;
}

.event {
	background-color:#ecf0f1;
}

.event h1 {
	font-size:18px;
	margin-top:10px;
	margin-bottom:5px;
}

.event a {
	text-decoration:none;
	color:black;
}

.event a:hover {
	opacity:0.8;
}

.details {
	padding: 20px 0px 10px 0px;
	background-color:#ecf0f1;
	margin-bottom:30px;
}

.details h1 {
	font-weight:300;
	margin-top:10px;
	font-size:24px;
}

