<div class="details">
	<div class="container">
		<div class="row">
			<div class="col-xs-12"><br>
				<h5>Yerba Buena Gardens</h5>
				<h1>2015 Intern Picnic In The Park</h1>
			</div>
		</div>
	</div>
</div>

<div class="more">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p>Date: Feburary 6th, 2015</p>
				<p>Description: Last summer, The Intern Project connected a thousand interns. We hosted the first annual Intern Project Summer Kickoff Picnic, and organized dinners that introduced small groups of interns to influential leaders in tech from around the Bay Area.</p>
			</div>
		</div>
	</div>
</div>