<!--homeController!-->
<div class="searchBar">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-center">Search events by typing anything</h1>
				<form ng-submit="submit(query);">
					<input type="text" ng-model="query" class="form-control" placeholder="Parties near San Francisco this weekend">
				</form><br><br>
				<h3 class="text-center">i.e. Hackathons near San Francisco this weekend</h3>
				<h3 class="text-center">i.e. Parties near Berkeley this month</h3>
			</div>
		</div>
	</div>
</div>