<div class="results">
	<div class="container">
	
		<div ng-repeat="event in events track by $index" class="events">


			<a ng-click="alert($index);" href="#/details">
				<div class="event">
					<div class="row">
						<div class="col-xs-3">
							<img ng-src="{{event.logo_url}}" width="100%">
						</div>
						<div class="col-xs-9">
							<h1>{{event.name.text}}</h1>
							<p>{{event.organizer.name}}</p>
							<p>{{event.venue.name}}</p>
						</div>
					</div>
				</div><br>
			</a>

		</div>

	</div>
</div>